.page {
  padding: 0 24px;
}

.title {
  font-size: 32px;

  color: darkmagenta;
}

body {
  margin: 0;
}

.label {
  margin-right: 12px;
}

.tabuleiro {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.casa {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 24px;
}
